*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./abs-1850926_1280.jpg);
    /* background-position:center; */
    background-repeat: no-repeat;
    /* width: 100vw; */
    height: 100px;
    background-size: cover;
    /* display: inline-block; */
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.left{
    /* background-color: aqua; */
    color: white;
}
.mid{
    /* background-color: blue; */
    color: white;
}
.right{
    /* background-color:red; */
    color: white;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 1005;
    height: 30px;
    margin-top: 20px;

}
ul{
    /* color: white; */
    list-style-type: none;
    font-size: 20px;
}
a{
    color: white;
    text-decoration: none;
}
.list{
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    /* margin: 10px; */width: 500px;
    
}
.header{
    /* background-color:rgb(93, 158, 211); */
    font-size: 20px;
}
.navbar li a:hover, .navbar li.active{
    text-decoration: underline;
    color: grey;
}
.left img{
    height: 100px;
    width: 100px;
    position: relative;
    top: 50px;
    /* filter: invert(100%); */   /* To change the color from black to white or white to black */
    /* background-blend-mode: screen; */
}
.btn{
    margin: 10px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px soild rgb(145, 143, 143);
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
}
.btn:hover{
    background-color: chartreuse;
    color: black;
}

.container{
    /* border: 3px solid yellow; */
    width: 65%;
    height: auto;
    border-radius: 40px;
    color: white;
    margin: 74px;
    padding: 53px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
    margin-top: 100px;
}
.container input{
    width: 50%;
    position: relative;
    top: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
    height: 30px;
    font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
    /* font-weight: 900; */
    /* color: rgb(0, 0, 0); */
    /* text-decoration: double; */


}
#sub{
    margin-top: 15px;
    background-color: black;
    color: yellow;
    font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
}
.left div{
    /* top: 200px; */
    /* margin-top: 55px; */
    position: relative;
    top: 50px;
}